{% extends "base.html" %}
{% block title %}
  Authors
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'digital_library:author-create' %}" class="btn btn-primary mb-3">Add author</a>
{% endif %}
{% block search %}
  {% include "includes/search_form.html"%}
{% endblock %}
<table class="table">
  <thead>
    <tr>
      <th>Photo</th>
      <th>Name</th>
      <th>Country</th>
      <th>Books</th>
    </tr>
  </thead>
  <tbody>
    {% for author in author_list %}
      <tr>
        <td>
          <a href="{% url 'digital_library:author-detail' author.id %}">
            <img src="{{ author.photo.url }}" class="card-img-top author-photo-small{% if not author.is_alive %} grayscale{% endif %}" alt="{{ author }}">
          </a>
        </td>
        <td><a href="{% url 'digital_library:author-detail' author.id %}">{{ author }}</a></td>
        <td>{{ author.country }}</td>
        <td>
          {% for book in author.books.all %}
            <a href="{% url 'digital_library:book-detail' book.id %}">{{ book.title }}</a>{% if not forloop.last %}, {% endif %}
          {% endfor %}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}