{% extends "base.html" %}
{% block title %}
  Books
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <a href="{% url 'digital_library:book-create' %}" class="btn btn-primary mb-3">Add book</a>
{% endif %}
<table class="table">
  <thead>
    <tr>
      <th>Cover</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th>Year</th>
    </tr>
  </thead>
  <tbody>
    {% for book in book_list %}
      <tr>
        <td>
          <a href="{% url "digital_library:book-detail" book.id %}">
            <img src="{{ book.cover_image.url }}" class="card-img-top book-cover-small" alt="{{ book.title }}">
          </a>
        </td>
        <td>
          <a href="{% url "digital_library:book-detail" book.id %}">
            {{ book.title }}
          </a>
        </td>
        <td>{{ book.genres.all|join:", " }}</td>
        <td>{{ book.authors.all|join:", " }}</td>
        <td>{{ book.year_published }}</td>
      </tr>
    {% endfor %}
  </tbody>

</table>
{% endblock %}