<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'digital_library:index' %}">Personal Library</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digital_library:book-list' %}">Books</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digital_library:author-list' %}">Authors</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'digital_library:genre-list' %}">Genres</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'digital_library:my-library' %}">My library</a>
          </li>
          <li class="nav-item">
            <span class="navbar-text text-light mr-2"><a href="{% url 'digital_library:profile' %}">{{ user.username }}</a></span>
          </li>
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-link nav-link">Logout</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'digital_library:register' %}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </nav>